.table{
    width: 60%;
    text-align: center;
    margin: auto;
}

.red-white{
    display: block;
    background-color: rgb(249, 54, 54);
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 3px;
    height: 4vh;
    width: 6vw;
    margin: auto;
    text-decoration: none;
}
